// Body
$color-body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Rubik", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-blue: #3490dc;
$color-indigo: #6574cd;
$color-purple: #9561e2;
$color-pink: #f66d9b;
$color-red: #fb4f38;
$color-orange: #f6993f;
$color-yellow: #ffed4a;
$color-green: #38c172;
$color-teal: #4dc0b5;
$color-cyan: #6cb2eb;

$color-lpdl: #1d9cc4;
$color-contrastlpdl: 50;
$color-error_validation: #ff483b;
$color-warning_empty: #f1842d;
$color-error_validation2: #ffde3b;
$color-btn_step: #ffde3b;
$color-border-input: #e7e7e7;

$color-pass: white;

/* responsiveness */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-infinite: 10000px;

@mixin breakpoint($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin mobileBreakpoint {
  @include breakpoint($breakpoint-xs, $breakpoint-sm) {
    @content;
  }
}

@mixin tabletBreakpoint {
  @include breakpoint($breakpoint-sm, $breakpoint-lg) {
    @content;
  }
}

@mixin desktopBreakpoint {
  @include breakpoint($breakpoint-lg, $breakpoint-infinite) {
    @content;
  }
}
