/node_modules
/public/hot
/public/storage
/public/js/*.js
/public/js/*.js.map
/public/css/app.css
/public/css/app.css.map
/public/images/profil_photo
/storage/*.key
/vendor
/resources/views/dev
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ftpsync.settings
*.zip
install_nvm.sh
load_nvm.sh
/public/documents/import_customer
/storage/framework/laravel-excel

storage/debugbar/*
public/mix-manifest.json
composer.lock
package-lock.json
public/app/public/images/activites/*
yarn.lock
public/fonts/vendor/
